/node_modules
/public/hot
/public/css
/public/js/app.js
/public/js/app.js.map
/public/js/assets/
/public/files
/public/storage
/public/packages/sleepingowl/
/public/mix-manifest.json
/storage/*.key
/storage/db-dumps
/storage/base.zip
/storage/wget-log
/vendor
.idea
.vscode
/v8-compile-cache-0
/npm
_ide_helper.php
_ide_helper_models.php
.env
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
install.sh
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.json
laravel-echo-server.lock
