/node_modules
/public/hot
/public/css
/public/js/app.js
/public/js/embed-video-for-iframe.js
/public/files
/public/storage
/storage/*.key
/storage/db-dumps
/storage/base.zip
/storage/wget-log
/vendor
/.idea
/v8-compile-cache-0
.env
.env.backup
.phpunit.result.cache
install.sh
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.json
laravel-echo-server.lock
/public/packages/sleepingowl/
/npm
