
@media (max-width: 992px) {
    .header{
        position: relative;
        & .icon_bars{
            display: block!important;
            width: 50px;
        }
        & .menu_navigation{
            display: none!important;
        }
       & .autorization{
            display:none!important;
       }
        & .main_menu{
            position: absolute;
            right: 0;
            bottom: 30%;
        }
        & .search{
            justify-content: flex-start;
        }
        & .button_input{
            width: 100% !important;
            & .search_input{
                min-width: 48vw !important;
            }
        }

    }

}
@media (max-width: 576px) {
    .header_row{
        flex-direction: row-reverse;
        & .main_menu{
            position:inherit!important;
        }
        & .icon_bars{
            display: block!important;
            width: 30px!important;
        }
        .cabinet{
            display: flex!important;
            & .icon_cabinet{
                width: 30px!important;
            }
        }
        & .button_input{
            margin-left: 20px;
            & .search_input {
                margin-left: 0 !important;
                min-width: 77vw !important;
            }

        }

    }
}
