$blue: rgb(5,103,204);
$light-gray: rgb(240,244,248);
$gray:rgb(191,195,206);
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "media";
@import "vova/main_vova";
@import "olya/main_olya";
@import "global-styles/main-global";

@media (min-width: 1920px) {
    .container {
        max-width: 1440px;
    }
}


