$blue:#0567cc;
$light-gray: rgb(239,239,239);
$gray:rgb(191,195,206);
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Select 2
@import '~select2/dist/css/select2.css';

//global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    //font-family: 'Montserrat', sans-serif !important;
    background-color: #ffffff;
}
button:focus,
input:focus,
select:focus {
    outline: none !important;
}

@import "vova/main_vova";
@import "olya/main_olya";
@import "global-styles/main-global";
@import "media";

@media (min-width: 1920px) {
    .container {
        max-width: 1440px;
    }
}

