.banner{
    padding: 20px 0;
    .wrapper{
        box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    }
    .block_content{
        margin-bottom: 5px;
        padding: 0 20px;
        img{
            width: 100%;
        }
    }
}
