.block_top{
    .wrapper{
        box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    }
    & .block_topUsers{
        padding: 25px;
        & .content_code{
            & p{
                font-size: 14px;
            }
        }
        & .content_img{
            display: flex;
            align-items: baseline;
            & img,svg{
                padding-right: 5px;
            }
        }
        & .content_login{
            display: flex;
            justify-content: flex-end;
            & p{
                color: $blue;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}
