.block_replay {
    .wrapper{
        box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    }
    & .container_btn{
        display: flex;
        justify-content: center;
        a{
            display: flex;
        }
        & .button{
            margin: 20px auto 40px;
            padding: 5px;
            width: 100%;
        }
    }
    & .title_top{
            margin-bottom: 25px;
        }
    & .row_game{
        display: flex;
        padding: 0;
        margin: 5px;
        margin-bottom: 15px;
        .game_oneSection{
            padding: 0px;
        }
        .wrapper_game{
            padding: 0;
            display: flex;
            justify-content: center;
        }
        & .name_game{
            color: $blue;
            & p{
                font-size: 14px;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0px 0 5px 0;
                max-width: 90px;
            }

        }
        .content_game{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 5px;
            & img{
                width: 16px;
                height: 15px;
                margin: 5px;
            }
            & .text_matchap{
                font-size:12px;
               margin: 0 9.5px;

            }
            & .text{
                font-size: 12px;
                color:$gray;
                margin: 0;
            }
        }
    }
}
