.block_replay{
    .wrapper{
        -webkit-box-shadow: 0px 2px 10px #cccccc;
    }
    & .container_btn{
        display: flex;
        & .button{
            margin: 5px auto 50px;
            padding: 5px;
        }
    }

    & .title_replay{
        display: flex;
        align-items: center;
        background: $light-gray;
        height: 60px;
        margin-bottom: 45px;
        & .title_replayText{
            font-size: 16px;
            color: $gray;
            margin: 0;
            padding-left: 20px;
        }
    }
    & .row_game{
        padding: 0 10px 25px;
        & .name_game{
            font-size: 14px;
            color: $blue;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .content_game{
            display: flex;
            justify-content: space-around;
            & img{
                width: 10px;
                height: 10px;
                margin: 5px 5px;
            }

            & .text_matchap{
                font-size:14px;
                padding:0 5px;
            }
            & .text{
                font-size: 12px;
                color:$gray;

            }
        }
    }
}
