.block_lastNews{
    .wrapper{
        box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    }
    & .block_futureTournament{
        padding: 25px 15px 0;
        .name_tournament{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0px 0 5px 0;
            max-width: 175px;
        }
        & .href_tournament{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: $blue;
            padding-bottom: 15px;
        }
    }
}
