.block_lastNews{
    .wrapper{
        box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    }
    margin: 30px 0 40px 0;
    & .title_block{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: $blue;
        height: 60px;
        border: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        & img,svg{
            width: 20px;
        }
        & .title_text{
            font-size: 16px;
            color: white;
            margin: 0;
        }
    }
    & .block_futureTournament{
        padding: 25px 15px 0;
        & .href_tournament{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: $blue;
            padding-bottom: 25px;
        }
    }
}
