.block_chat-twitch{
    padding-bottom: 40px;
    & .wrapper{
        box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    }
    & .block_chat{
        padding-bottom: 20px;
    }
    & .title_Text{
        font-size: 16px;
        color:white;
        margin: 0;
        padding: 0 0 0 20px;
    }
    & .text_support{
        font-size: 18px;
        padding: 30px 0;
        margin: 0;
    }
    & .container_titleChat{
        background: $blue;
        height: 60px;
        border: 0;
       // border-bottom-left-radius:5px;
        border-top-left-radius:5px;
        & .content_left{
            display: flex;
            justify-content: center;
            align-items: center;

        }
        & .content_right{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

    }
    & .messanger{
        max-height:620px;
        overflow:scroll;

    }


    & .login_block{
        padding: 40px 0;
        margin: auto;
        display: flex;
        justify-content: center;
        & a{
            font-size: 14px;
            & span{
                border-bottom: 1px solid;
                font-weight: bold;
            }
        }
    }
    .row_contentChat{
        padding: 30px 10px 0;
        & svg{
            height: 15px;
            width: 15px;
        }

        & .block_user_akk{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            & .blue_text{
                color: $blue;
                font-size: 14px;
                font-weight: bold;
            }
            & .user{
                min-width: 160px;
            }
        }
        & .block_close{
            display: flex;
            justify-content: center;
            align-items: center;
            & button{
                background: none;
                border: none;
            }
        }
        & .block_date{
            font-size: 14px;
            color: $gray;
        }
        & .block_userMessage{
            padding: 20px 0;
            border-bottom: 1px solid $light-gray;
            & .user_nick{
                font-size: 14px;
                color:#ff8400;
            }
            & img{
                max-width: 40%;
                display: block;
                padding: 10px 0;
            }

        }


    }

    & .title_video{
        background: $blue;
        border-top-right-radius:5px;
        height: 60px;
        display: flex;
        & .title_Text{
            padding: 0;
        }
        & .video_header{
            display: flex;
            align-items: center;
            & img{
                padding-right: 20px;
            }
        }
    }
    & .video_twitch{
        padding: 40px 0;
        background: black;
        justify-content: center;
        align-items: center;
        height: 770px;

    }

    & .pl-controls-bottom pl-flex qa-controls-bottom{
        display: none;
    }
}
 .player-streaminfo{
    background: red;
}
.messanger::-webkit-scrollbar {
        width: 10px;
  //  height: 227px;

}
.messanger::-webkit-scrollbar-thumb {
    background-color: #e2e5e9;
    opacity: 0.8;
    border-radius: 4px;
    height: 227px;
}
