.block_top{
    .wrapper{
        box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    }
    .title_block_gray{
        justify-content: flex-start;

    }
    & .block_topUsers{
        padding: 25px;

        & .content_code{
            display: flex;
            align-items: center;
            padding: 0;
            & p{
                font-size: 14px;
                margin: 0;
                padding-left: 10px;
            }
        }
        & .content_img{
            display: flex;
            align-items: center;
            & img,svg{
                margin-right: 5px;
                max-width: 22px;
                max-height: 22px;
                border-radius: 50%;
            }
            margin-right: 10px;
        }
        & .content_login{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0;
            & p{
                color: $blue;
                font-size: 14px;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 75px;
                margin: 0;

            }
        }
    }
}
