.forum_allSections {
    .wrapper {
        box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
        margin: 0 0 20px;
    }
    //margin: 40px 0 0 0;
    & .title_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #3490dc;
        height: 60px;
        border: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 0 20px;

        & svg,img {
            width: 40px;
            padding-right: 15px;
            fill: white;
        }

        & .title_text {
            font-size: 16px;
            color: white;
            margin: 0;
        }

        & .left_section {
            display: flex;
            flex-wrap: wrap;

            & a {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
        }

        & .right_section {
            display: flex;
            align-items: center;
            & .block_text{
                display: flex;
                justify-content: space-between;
                padding-left: 10px;
                align-items: center;
                flex-wrap: wrap;
                & span{
                    color: white;
                    font-size: 14px;
                    padding-right: 5px;
                }
            }
            & a{
                color: white;
                & svg{
                    width: 30px;
                    padding-bottom: 3px;
                }
            }
        }
    }
    & .content_allArticle{
        display: flex;
        align-items: center;
        padding: 16px 20px 0;
    }
}
