.header{
    background: #0567cc;
    position: relative;
    & .header_container{
        overflow: hidden;
        padding: 10px 0;
        & .header_row{
            min-height: 125px;
            & .cabinet{
                display: none;
            }
            & .mode{
                display: flex;
                justify-content: center;
                align-items: center;
                & button{
                    display: flex;
                    background: none;
                    border: 0;
                    & svg{
                        width: 30px;
                        padding: 0 5px;
                    }
                }

            }
            & .logo{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                & img,svg{
                    width: 65%;
                }
            }
            & .icon_bars{
                display: none;
            }
            & .main_menu{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                & .menu_navigation{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    & a{
                        color: white;
                        text-decoration: none;
                        font-size: 12px;

                    }
                }
            }
            & .header_search{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                & button{
                    background: none;
                    border: 0;
                }
                .button_input{
                    display: flex;
                    width: 24px;
                    transition: 1.5s;
                }
                & .active_button_input{
                    width: 170px;
                    & .search_input{
                        margin-left: 5px;
                    }
                }
                & .disactive_input{
                    background: white;
                }
                & .search_input {
                    height: 30px;
                    background: none;
                    border: 0;
                    border-bottom: 1.5px solid white;
                    padding: 5px;
                    min-width: 120px;
                    margin-left: 24px;
                    color: white;
                    font-style: italic;
                }
                ::placeholder {
                    color: white;
                    font-style: italic;
                    opacity: 2;
                }
            }
            & .autorization{
                display:flex;
                justify-content:flex-end;
                align-items:flex-end;
                flex-direction: column;
                position: relative;
                & button {
                    background: white;
                    width: 125px;
                    height: 40px;
                    padding-left: 10px;
                    border-radius: 3px;
                    border: 0;
                    margin-left: 15px;
                    color: $blue;
                }
                & .registration{
                    color: white;
                    bottom: -35px;
                    background: none;
                    position: absolute;
                }
            }

        }
    }
    .button_input_user{
        display: flex;
        width: 0;
        position: absolute;
        bottom: 57px;
        right: 32%;
        & button{
            background: none;
            border: 0;
        }
        .button_input{
            display: flex;
            width: 24px;
            transition: 1.5s;
        }
        & .active_button_input{
            width: 170px;
            & .search_input{
                margin-left: 5px;
            }
        }
        & .disactive_input{
            background: white;
        }
        & .search_input {
            height: 30px;
            background: none;
            border: 0;
            border-bottom: 1.5px solid white;
            padding: 5px;
            min-width: 153px;
            margin-left: 24px;
            color: white;
            font-style: italic;
        }
        ::placeholder {
            color: white;
            font-style: italic;
            opacity: 2;
        }
    }

}
