.Page_gameBest{
    .wrapper{
        box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    }
    & .title_block{
        justify-content: flex-start;
        align-items: baseline;
        .left_content{
            display: flex;
        }
    }
    & .title_players{
        display: flex;
        align-items: center;
        background: $light-gray;
        //min-height: 60px;
        //justify-content: space-between;
        padding:15px 20px;
        .minerals_icons{
            margin-left: 5px;
        }
        & .title_playersText{
            font-size: 16px;
            color: $gray;
            margin: 0;
        }
        & a{
            font-size: 12px;
            color: $gray;
            text-decoration: underline;
        }
    }
    & .container_players{
        max-height: 220px;
        overflow: scroll;
        padding: 20px 0;
        & .pl-controls-bottom pl-flex qa-controls-bottom{
            display: none;
        }
        & .players_content{
            padding: 10px 45px 5px 20px;
            display: flex;
            justify-content: space-between;
            & .left_block{
                display: flex;
                & .number{
                    width: 40px;
                    display: block;
                    //height: 28px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                span{
                    font-size: 14px;
                }
                & img{
                    margin: 0 10px 0 15px;
                    width: 30px;
                    border-radius: 50px;
                    height: 30px;
                }
                & a{
                    width: 140px;
                    display: block;
                    //height: 28px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    & .name_player{
                        font-size: 14px;
                        color: $blue;
                        font-weight: bold;
                    }
                }
            }
            & .center_block{
                & img{
                    margin: 0 5px;
                    width: 20px;
                    border-radius: 50px;
                    height: 20px;
                }
            }
            & .right_block{
                & svg{
                    width: 20px;
                }
                span{
                    font-size: 14px;
                    //width: 70px;
                    //display: block;
                    ////height: 28px;
                    //white-space: nowrap;
                    //overflow: hidden;
                    //text-overflow: ellipsis;
                    margin: 0;
                }
            }
        }
    }
    .container_players::-webkit-scrollbar {
        width: 10px;
    }
    .container_players::-webkit-scrollbar-thumb {
        background-color: #e2e5e9;
        opacity: 0.8;
        border-radius: 4px;
        height: 25px;
    }
}
