.Page_tournamentDetail-content{
    .wrapper{
        box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    }
    & .title_block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $blue;
        height: 60px;
        border: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 20px;
        & .left_content{
            display: flex;
            & svg{
                margin-right: 10px;
                fill: white;
            }
        }
        & .right_content{
            display: flex;
            align-items: center;
            & svg{
                margin-left: 10px;
            }
            & .title_text{
                font-size: 14px;
                color: white;
                margin: 0;
            }
        }
        & img,svg{
            width: 20px;
            margin-right: 10px;
        }
        & .title_text{
            font-size: 16px;
            color: white;
            margin: 0;
        }
    }
    & .block_replay_content{
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;
        & .block_left{
            & .description_left{
                font-size: 12px;
                color: $gray;
            }
            & .container_block{
                display: flex;
                justify-content: space-between;
                & .replay-desc-right{
                    & p{
                        font-size: 12px;
                        text-align: right;
                        color: $gray;
                    }
                }
                & .replay-desc-left{
                    & p{
                        font-size: 12px;
                    }
                    & .gray{
                        font-size: 14px;
                        color: $gray;
                        font-weight: 400;
                    }
                    & .blue{
                        font-size: 14px;
                        color: $blue;
                        font-weight: 400;
                    }
                }
            }
        }
        & .block_right{
            & .container_block{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-top: 20px;
                & p{
                    color: $blue;
                    font-size: 12px;
                    margin: 0;
                }
                & .left{
                    text-decoration: underline;
                    color: $blue;
                    span{
                        color: white;
                    }
                    .btn_modal{
                        background: transparent;
                        border: 0;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                & .right{
                    & p{
                        font-size: 14px;
                    }
                    & svg{
                        width: 15px;
                        fill:$blue;
                        margin-left: 10px;
                    }
                    & .gray{
                        color: $gray;
                    }
                    & .svg_gray{
                        fill: $gray;
                    }
                }
            }
        }
    }
    & .title_players{
        display: flex;
        align-items: center;
        background: $light-gray;
        height: 60px;
        justify-content: space-between;
        padding: 0 20px;
        & .title_playersText{
            font-size: 16px;
            color: $gray;
            margin: 0;
        }
        & a{
            font-size: 14px;
            font-weight: 400;
            color: $gray;
            text-decoration: underline;
        }
    }
    & .container_players{
        max-height: 220px;
        overflow: auto;
        padding: 20px 0;
        & .pl-controls-bottom pl-flex qa-controls-bottom{
            display: none;
        }
        & .players_content{
            padding: 10px 45px 5px 20px;
            display: flex;
            justify-content: space-between;
            & .left_block{
                display: flex;
                span{
                    font-size: 14px;
                }
                & img{
                    margin: 0 10px 0 15px;
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                }
                & a{

                    width: 170px;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    & .name_player{
                        font-size: 14px;
                        color: $blue;
                        font-weight: bold;
                    }
                }
            }
            & .center_block{
                & img{
                    margin: 0 5px;
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                }
            }
            & .right_block{
                & svg, img{
                    width: 20px;
                }
            }
        }
    }
    & .container_round{
        padding: 20px 20px 10px;
        & .winner_round{
            display: flex;
            align-items: baseline;
            padding-bottom: 10px;
            & .left_block{
                display: flex;
                align-items: center;

                span{
                    font-size: 14px;
                }
                & img{
                    margin: 0 10px 0 15px;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                }
                & a{
                    text-decoration: underline;
                    & .name_player{
                        font-size: 14px;
                        color: $blue;
                        font-weight: bold;
                    }
                }
            }
            & .center_block{
                display: flex;
                align-items: baseline;
                & .one_player{
                    width: 110px;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis
                }
                & img{
                    margin: 0 5px;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                }
                & .blue_span{
                    color: $blue;
                    margin: 0 25px 0 20px;
                }
            }
            & .right_block{
                width: 30%;
                display: flex;
                justify-content: flex-end;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                & a{
                    margin-right: 10px;
                    text-decoration: underline;
                }
                & svg{
                    width: 20px;
                }
            }
        }
    }

    .container_players::-webkit-scrollbar {
        width: 10px;
    }
    .container_players::-webkit-scrollbar-thumb {
        background-color: #e2e5e9;
        opacity: 0.8;
        border-radius: 4px;
        height: 25px;
    }
}
