.mob_menu{
    display: none;
    & .hidden{
        display: none;
    }
    & .nav-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: $blue;
        transition: all 0.2s ease;

        & .nav-btn{
            position: absolute;
            left: 15px;
            top: 19px;
            display: block;
            width: 34px;
            height: 34px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
            border: 1px solid #00a3d4;
            & span{
                font-size: 20px;
                position: fixed;
                left: 25px;
                color: white;
            }
            & i{
                display: block;
                width: 18px;
                height: 2px;
                background: #000;
                border-radius: 2px;
                margin-left: 7px;
            }
        }

        background: $blue;
        & .nav_item{
            padding: 10px 24px;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            transform: translateX(0);
            display: inline-block;
        }
        & .punct{
            position: absolute;
            top: 28%;
            transform: translateY(-50%);
            width: 100%;
            & li{
                display: block;
                float: none;
                width: 100%;
                text-align: left;
                margin-bottom: 10px;
            }
        }


    }
    .mob_menu_active{
        display: block!important;
    }
    & .bottom_menu{
          position: absolute;
          top: 85%;
          transform: translateY(-50%);
          width: 100%;
          left: 0;
          display: flex;
          justify-content: space-around;
          padding-left: 100px;
          padding-right: 100px;
          padding-top: 30px;
          border-top: 1px solid white;
      }
}




