.header{
    background: $blue;
    & .header_container{
        overflow: hidden;
        padding: 10px 0;
        & .header_row{
            min-height: 125px;
            & .cabinet{
                display: none;
            }
            & .logo{
                display: flex;
                align-items: center;
                & img{
                    width: 80%;
                }
                justify-content: center;
            }
            & .icon_bars{
                display: none;
            }
            & .main_menu{
                display: flex;
                align-items: center;
                justify-content: center;
                & .menu_navigation{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    & a{
                        color: white;
                        text-decoration: none;
                        font-size: 12px;

                    }
                }
            }
            & .search{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                & button{
                    background: none;
                    border: 0;
                }
                .button_input{
                    display: flex;
                    width: 40px;
                    transition: 1.5s;
                }
                & .active_button_input{
                    width: 170px;
                       & .search_input{
                           margin-left: 5px;
                      }
                }
                & .disactive_input{
                    background: white;
                }
                & .search_input {
                    height: 30px;
                    background: none;
                    border: 0;
                    border-bottom: 1.5px solid white;
                    padding: 5px;
                    min-width: 120px;
                    margin-left: 24px;
                    color: white;
                    font-style: italic;
                }
                ::placeholder {
                    color: white;
                    font-style: italic;
                    opacity: 2;
                }
            }
            & .autorization{
                display:flex;
                justify-content:flex-end;
                align-items:flex-end;
                flex-direction: column;
                position: relative;
                & button {
                    background: white;
                    width: 125px;
                    height: 40px;
                    padding-left: 10px;
                    border-radius: 3px;
                    border: 0;
                    margin-left: 15px;
                    color: #3490dc;
                }
                & .registration{
                    color: white;
                    bottom: -30px;
                    right: 0;
                    position: absolute;
                }
            }

        }
    }

}
