.journalist-broadcast{
    border: 0!important;
    box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13)!important;
}
a.journalist-broadcast-post-info-time{
    color: #007bff!important;
    text-decoration: none;
    font-size: 16px!important;
    font-weight: 700!important;
}
.journalist-broadcast-post-message-text{
    font-size: 16px!important;
    line-height: 24px!important;
}
.nightMode{
    .journalist-broadcast-post-message-text{
         color: white!important;
     }
}
