.journalist-broadcast-post{
    border: 0!important;
    box-shadow: 0 7px 35px rgba(0,0,12,.56)!important;
}
a.journalist-broadcast-post-info-time{
    color: #007bff!important;
    text-decoration: none;
    font-size: 16px!important;
    font-weight: 700!important;
}
.journalist-broadcast-post-message-text{
    font-size: 16px;
    line-height: 24px;
    color: white;
}
