.nightMode{
    background:#01093b;
    color: white;
    .night_text{
            color: white!important;
        p, span, a{
            color: white!important;
        }
    }
    .night_svg{
        color: white!important;
    }
    .night_footer{
        background-color: #000524;
    }
    .breadcrumb-item.active{
        color: white;
    }
    .border_shadow{
        box-shadow: 0 7px 35px rgba(0, 0, 12, 0.56)!important;
        border-radius: 5px;
        background-color: #01093b!important;
    }
    .change_gray{
        background-color: #0567cc!important;
        opacity: 0.5;
        color: white;
        p{
            color: white!important;
        }
    }
    .darck_gray_color{
        background: rgb(24,24,27)!important;
    }
    .night_modal{
        background:#01093b!important;
    }
    .night_input, .select2-selection__rendered, .select2-selection{
        background-color: #0567cc!important;
        opacity: 0.5;
        color:white!important;
        &::placeholder{
        color:white!important;
        }
    }
    .cke_top, .cke_bottom{
        background: #0567cc!important;
    }
    .cke_combo_text{
        color:white!important;;
    }
    .cke_chrome{
        border: 0!important;
    }
    .night_modal_special{
        border: 1px solid $gray;
        background: $blue;
        border-radius: 0.25rem;
    }

    .accordion-button{

    }::after{
            color:white!important;
         }

}
