.nightMode{
    background:#01093b;
    .night_text{
        a{
            color:white;
        }

            color: white;

    }
    .breadcrumb-item.active{
        color: white;
    }
    button{
        background: red;
    }
}
