.title_block_gray{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $light-gray;
        //min-height: 60px;
        padding:20px;
        & .title_text{
            font-size: 16px;
            color: $gray;
            margin:0;
        }
        & .more{
            background: none;
            border: 0;
            & p{
                font-size: 40px;
                color: $gray;
            }
        }
    }


