.upload-image {

    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .btn--browse{
        border: 1px solid #0567cc;
        display: flex;
        //display: inline-block;
        justify-content: center;
        cursor: pointer;
        background-color: #0567cc;
        margin-bottom: 0;
        padding: 10px 10px;
        color: #fff;
        border-radius: 4px;
        height: calc(1.6em + 0.75rem + 2px);
        align-items: center;
        width: 100%;
    }

    .f-input{
        //height: 42px;
        height: calc(1.6em + 0.75rem + 2px);
        width: 100%;
        float: left;
        padding: 0 14px;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 4px;
    }
}
.block_minerals_icons{
    display: flex;
    align-items: center;
    .title__text{
        margin-left: 12px;
        margin-right: 6px;
    }
    .text_special{
        margin-right: 0;
    }
}
.minerals_icons{
    width: 15px;
}
