.breaking-news {
    box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    border-radius: 5px;
    overflow-x: hidden;

    .breaking-news__title {
        border-radius: 5px 5px 0 0;
        background-color: #0567cc;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 19px;

        .title__icon {
            width: 13px;
            height: 21px;
            fill: #ffffff;
        }

        .title__text {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0; //отмена стандартного margin
            margin-left: 17px;
        }
    }

    .breaking-news__news-card {
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 25px;
        border: 0px; //отмена бутстраповской рамки

        .card-body {
            padding-left: 0px; //отмена бутстраповского padding отступа
            padding-right: 0px; //отмена бутстраповского padding отступа
            padding-bottom: 0px; //отмена бутстраповского padding отступа

            .card-body__author {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 18px;

                .author__avatar {
                    width: 28px;
                    height: 28px;
                }

                .author__nickname {
                    color: #0567cc;
                    font-size: 14px;
                    font-weight: 400;
                    margin-left: 13px;
                    margin-bottom: 0; //отмена стандартного margin
                }

                .author__date {
                    margin-left: auto;
                    color: #9ca0b6;
                    font-size: 12px;
                    font-weight: 400;
                    margin-bottom: 0; //отмена стандартного margin
                }
            }

            .card-body__title {
                color: #010b4a;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                text-transform: uppercase;
            }

            .card-body__text {
                color: #010b4a;
                font-size: 14px;
                font-weight: 300;
            }

            //p - styles for text who isert from admin
            p {
                display: inline-block;
                color: #010b4a;
                font-size: 14px;
                font-weight: 300;
            }

            //p - styles for text "читать" isert from admin
            a {
                font-size: 14px;
                font-weight: 300;
                text-decoration: underline;
            }

            .card-body__items {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 18px;
                .items__comment {
                    transition: .3s;
                    text-decoration: none;
                    svg {
                        width: 21px;
                        height: 21px;
                        fill: #9ca0b6;;
                    }
                    span {
                        color: #9ca0b6;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 19px;
                        margin-left: 10px;
                    }
                    &:hover {
                        & svg {
                            fill: #0567cc;
                        }
                    }
                }

                .items__share {
                    transition: .3s;
                    margin-left: 35px;
                    svg {
                        transition: .3s;
                        width: 18px;
                        height: 20px;
                        fill: #9ca0b6;;
                    }
                    &:hover {
                        & svg {
                            fill: #0567cc;
                        }
                    }
                }

                .items__watch {
                    margin-left: auto;
                    text-decoration: none;
                    transition: .3s;
                    svg {
                        width: 11px;
                        height: 11px;
                        fill: #9ca0b6;;
                    }
                    span {
                        margin-left: 10px;
                        color: #9ca0b6;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 19px;
                    }
                    &:hover {
                        & svg {
                            fill: #0567cc;
                        }
                    }
                }

            }

            /*.card-body__comment-form {
                display: flex;
                justify-content: space-between;
                margin-bottom: 46px;
                .comment-form__group {
                    width: 100%;
                    margin-bottom: 0; //отмена стандартного margin
                    position: relative;
                    .comment {
                        width: 95%;
                        margin-bottom: 0;
                        position: relative;
                        .comment__icon {
                            width: 20px;
                            height: 16px;
                            position: absolute;
                            top: 15px;
                            right: 80px;
                            fill: #c7cbd9;
                        }
                        .comment__input {
                            width: 100%;
                            height: 44px;
                            padding-left: 18px;
                            background-color: #f0f4f8;
                            border-radius: 5px;
                            border: 1px solid transparent;
                            padding-right: 120px;
                            &::placeholder {
                                opacity: 0.5;
                                color: #010b4a;
                                font-size: 12px;
                                font-weight: 400;
                            }
                        }
                    }
                    .buttons-upload{
                        position: absolute;
                        top: 12px;
                        right: 50px;

                        label {
                            border: 0px;
                            display: inline-block;
                            cursor: pointer;
                            background-color: #f0f4f8;
                            margin-left: 17px;
                            margin-bottom: 0;
                        }

                        input[type="file"] {
                            display: none;
                        }

                        i {
                            font-size: 16px;
                            color: #b9bdcf;
                        }

                        .smile-upload {
                            background-color: #f0f4f8;
                            border: 0;
                            margin-left: 16px;
                            i {
                                font-size: 16px;
                                color: #b9bdcf;
                            }
                        }
                    }
                }
                .comment-form__button {
                    background-color: transparent;
                    border: 0px;
                    padding: 0;
                    svg {
                        width: 20px;
                        height: 18px;
                        fill: #0567cc;
                    }
                }
            }*/

            .card-body__horizontal-line {
                margin-top: 0;
                margin-bottom: 0;
            }
        }


    }

}

.breaking-news__numb-pages {
    text-align: right; //выравнивает по левому краю
    margin-top: 25px;
    margin-bottom: 8px;
    .numb-pages {
        color: #9ca0b6;
        font-size: 12px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 0; //отменяет стандартный margin
    }
}

.breaking-news__button {
    text-align: center; //выравнивает кнопку по центру
    background-color: #ffffff;
}
