.comments__content{
    word-wrap: break-word;
    .comments__wrapp{
        word-wrap: break-word;
        box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
        border-radius: 5px;
        padding-bottom: 10px;
    }
}
.wrapp_comments_news{
    box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    border-radius: 5px;
    padding-bottom: 10px;
}
.detailed-news {
    box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    border-radius: 5px;
    br{
        display: none;
    }
    hr{
        margin: 0;
    }

    .detailed-news__title {
        display: flex;
        justify-content: space-between;
        border-radius: 5px 5px 0 0;
        background-color: #0567cc;
        padding: 20px;
        p{
            margin: 0;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0; //отмена стандартного отступа
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;

        }

        .title__wrap {
            display: flex;
            align-items: center;

            .title__icon {
                width: 20px;
                height: 20px;
                fill: #ffffff;
            }
            .title__text {
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                margin-left: 20px;
                margin-bottom: 0; //отмена стандартного отступа
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 5px;
                p{
                    max-width: 220px;
                }
            }
            .text_special{
                margin-right: 0;
            }
            .title__avatar {
                width: 28px;
                height: 28px;
                border-radius: 50%;
            }
            .title__nickname {
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                margin-left: 13px;
                margin-bottom: 0; //отмена стандартного отступа
                max-width: 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .title__flag {
                width: 20px;
                height: 20px;
                margin-left: 13px;
            }
            .title__cube {
                width: 16px;
                height: 16px;
                margin-left: 11px;
            }
            .title__text {
                color: #ffffff;
                font-size: 14px;
                font-weight: 500;
                margin-left: 12px;
                margin-bottom: 0; //отмена стандартного отступа
            }

        }
    }
    .detailed-news__info {
        //background-color: #ffffff;
        padding-top: 18px;
        padding-bottom: 17px;
        padding-left: 21px;
        padding-right: 22px;
        background-color: #f0f4f8;

        .info__items {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .right{
                display: flex;
                align-items: baseline;
                font-size: 14px;
                a{
                    margin-right: 15px;
                    svg{
                        width: 18px;
                        fill: $gray;
                    }
                }
            }
            .items__watch,
            .items__comment {
                text-decoration: none;
                transition: .3s;
                svg {
                    width: 15px;
                    height: 13px;
                    fill: #9ca0b6;
                }
                span {
                    color: #9ca0b6;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 19px;
                    margin-left: 10px;
                }
                &:hover {
                    & svg {
                        fill: #0567cc;
                    }
                }
            }
            .items__comment {
                margin-left: 32px;
            }
            .items__date {
                margin-left: auto;
                margin-bottom: 0;
                color: #9ca0b6;
                font-size: 12px;
                font-weight: 400;
                line-height: 19px;

            }
        }
    }
    hr {
        margin-top: 0;
        margin-bottom: 0;
    }
    .detailed-news__card {
        border: 0px;
        img{
            max-width: 100%;
        }
        .card-body {
            .card-body__title {
                color: #010b4a;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                text-transform: uppercase;
                margin-top: 36px;
                margin-bottom: 27px;
            }
            .card-body__text {
                color: #010b4a;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                margin-bottom: 28px;
                ul{
                    padding-left: 15px;
                }
                span {
                    color: #0567cc;
                    font-weight: 400;
                    text-decoration: underline;
                }
                img{
                    max-width: 100%;
                }
            }
            .card-body__items {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
               // padding: 1.25rem;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 17px;
                .card-body__items-wrap {
                    button{
                        background: transparent;
                        border: 0;
                    }
                    .items__quote {
                        text-decoration: none;
                        svg {
                            width: 20px;
                            height: 20px;
                            fill: #c7c9d7;
                            transition: .3s;
                        }
                        &:hover {
                            & svg {
                                fill: #0567cc;
                            }
                        }
                    }
                }
                .card-body__items-wrap {
                    button{
                        background: transparent;
                        border: 0;
                    }
                    .items__like {
                        text-decoration: none;
                        svg {
                            width: 20px;
                            height: 18px;
                            fill: #c7c9d7;
                            transition: .3s;
                        }
                        span {
                            color: #9ca0b6;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 19px;
                            margin-left: 7px;
                        }
                        &:hover {
                            & svg {
                                fill: #0567cc;
                            }
                        }
                    }
                    .items__dislike {
                        text-decoration: none;
                        margin-left: 17px;
                        svg {
                            width: 20px;
                            height: 18px;
                            fill: #c7c9d7;
                            transition: .3s;
                        }
                        span {
                            color: #9ca0b6;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 19px;
                            margin-left: 7px;
                        }
                        &:hover {
                            & svg {
                                fill: #0567cc;
                            }
                        }
                    }
                }

            }
        }
    }
    .card-body {
        .card-body__title {
            color: #010b4a;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-transform: uppercase;
            margin-top: 36px;
            margin-bottom: 27px;
        }
        .card-body__text {
            color: #010b4a;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            margin-bottom: 28px;
            span {
                color: #0567cc;
                font-weight: 400;
                text-decoration: underline;
            }
        }
        .card-body__items {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 17px;
            padding: 1.25rem;
            .card-body__items-wrap {
                button{
                    background: transparent;
                    border: 0;
                }
                .items__quote {
                    background: transparent;
                    border: 0;
                    text-decoration: none;
                    svg {
                        width: 20px;
                        height: 20px;
                        fill: #c7c9d7;
                        transition: .3s;
                    }
                    &:hover {
                        & svg {
                            fill: #0567cc;
                        }
                    }
                }
            }
            .card-body__items-wrap {
                button{

                    background: transparent;
                    border: 0;

                }
                .items__like {
                    text-decoration: none;
                    svg {
                        width: 20px;
                        height: 18px;
                        fill: #c7c9d7;
                        transition: .3s;
                    }
                    span {
                        color: #9ca0b6;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 19px;
                        margin-left: 7px;
                    }
                    &:hover {
                        & svg {
                            fill: #0567cc;
                        }
                    }
                }
                .items__dislike {
                    text-decoration: none;
                    margin-left: 17px;
                    svg {
                        width: 20px;
                        height: 18px;
                        fill: #c7c9d7;
                        transition: .3s;
                    }
                    span {
                        color: #9ca0b6;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 19px;
                        margin-left: 7px;
                    }
                    &:hover {
                        & svg {
                            fill: #0567cc;
                        }
                    }
                }
            }

        }
    }
    .card-body__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 17px;
        padding-left: 20px;
        padding-right: 20px;
        .card-body__items-wrap {
            .items__quote {
                text-decoration: none;
                background: transparent;
                border: 0;
                svg {
                    width: 20px;
                    height: 20px;
                    fill: #c7c9d7;
                    transition: .3s;
                }
                &:hover {
                    & svg {
                        fill: #0567cc;
                    }
                }
            }
        }
        .card-body__items-wrap {
            .items__like {
                text-decoration: none;
                svg {
                    width: 20px;
                    height: 18px;
                    fill: #c7c9d7;
                    transition: .3s;
                }
                span {
                    color: #9ca0b6;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 19px;
                    margin-left: 7px;
                }
                &:hover {
                    & svg {
                        fill: #0567cc;
                    }
                }
            }
            .items__dislike {
                text-decoration: none;
                margin-left: 17px;
                svg {
                    width: 20px;
                    height: 18px;
                    fill: #c7c9d7;
                    transition: .3s;
                }
                span {
                    color: #9ca0b6;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 19px;
                    margin-left: 7px;
                }
                &:hover {
                    & svg {
                        fill: #0567cc;
                    }
                }
            }
        }

    }
}
.detailed-news__info {
    background-color: #ffffff;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 21px;
    padding-right: 22px;
    background-color: #f0f4f8;


    .info__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .right{
            display: flex;
            align-items: baseline;
            font-size: 14px;
            a{
                margin-right: 15px;
                svg, img{
                    width: 18px;
                    fill: $gray;
                }
            }
        }
        .items__watch,
        .items__comment {
            text-decoration: none;
            transition: .3s;
            svg, img {
                width: 15px;
                height: 13px;
                fill: #9ca0b6;
            }
            span {
                color: #9ca0b6;
                font-size: 12px;
                font-weight: 400;
                line-height: 19px;
                margin-left: 10px;
            }
            &:hover {
                & svg {
                    fill: #0567cc;
                }
            }
        }
        .items__comment {
            margin-left: 32px;
        }
        .items__date {
            margin-left: auto;
            margin-bottom: 0;
            color: #9ca0b6;
            font-size: 12px;
            font-weight: 400;
            line-height: 19px;

        }
    }
}


