.footer {
    background-color: #01093b;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 20px;
    .footer__logo {
        align-self: center;
        .logo__text {
            color: #ffffff;
            font-size: 12px;
            font-weight: 300;
            margin-top: 19px;
        }
    }
    .footer__link {
        display: flex;
        flex-direction: column;
        .link-list__item {
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;
            padding-bottom: 12px;
            text-transform: uppercase;
            text-decoration: underline;
            text-decoration-color: $blue;
            transition: .3s;
            font-weight: 600;
            &:hover {
                color: #0567cc;
            }
        }
    }
    .footer__info {
        .footer__title {
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
        .footer__text {
            color: #ffffff;
            font-size: 12px;
            font-weight: 300;
        }
        .footer__mail {
            color: #ffffff;
            text-decoration: none;
            font-size: 14px;
            font-weight: 300;
            line-height: 27px;
            svg {
                margin-right: 15px;
                width: 16px;
                height: 12px;
                fill: #0567cc;
            }
        }
    }
    .footer__our-birthday {
        .footer__title {
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .our-birthday__nickname {
            color: #0567cc;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 16px;
        }
    }
    .footer__useful {
        display: flex;
        flex-direction: column;
        .footer__title {
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .useful__link {
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;
            padding-bottom: 12px;
            text-transform: uppercase;
            text-decoration: underline;
            text-decoration-color: $blue;
            transition: .3s;
            font-weight: 600;
            &:hover {
                color: #0567cc;
            }
        }
    }
    .produced {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        & p {
            color: #999999;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
        }
        & a {
            color: #999999;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            transition: .3s;
            margin-left: 5px;
            &:hover {
                color: #2980b9;
            }
        }
        .devloop__link {
            & .small-logo {
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
                animation-name: swim;
            }
            &:hover {
                color: #2980b9;
                @keyframes swim {
                    0% {
                        transform-origin: center;
                        transform: rotate3d(0, 0, 1, 0deg) translateY(0px);
                    }
                    36% {
                        transform-origin: center;
                        transform: rotate3d(0, 0, 1, 4deg) translateY(3px);
                    }
                    66% {
                        transform-origin: center;
                        transform: rotate3d(0, 0, 1, -4deg) translateY(1px);
                    }
                    100% {
                        transform-origin: center;
                        transform: rotate3d(0, 0, 1, 0deg) translateY(0px);
                    }
                }
            }
        }
    }

}
//

.footer__copyright {
    text-align: center;
    background-color: #0567cc;
    .copyright__text {
        color: #ffffff;
        font-size: 12px;
        font-weight: 300;
        line-height: 32px;
        margin-bottom: 0;
    }
}
