.footer {
    .footer__logo {
        .logo__text {
            color: #ffffff;
            font-size: 12px;
            font-weight: 300;
        }
    }
    .footer__link {
        .link-list__item {
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;
            line-height: 32px;
            text-transform: uppercase;
            text-decoration: none;
            transition: .3s;
            &:hover {
                color: #0567cc;
            }
        }
    }
    .footer__info {
        .footer__title {
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1.2px;
            text-transform: uppercase;
        }
        .footer__text {
            color: #ffffff;
            font-size: 12px;
            font-weight: 300;
        }
        .footer__mail {
            text-decoration: none;
            font-size: 14px;
            font-weight: 300;
            line-height: 27px;
            svg {
                width: 16px;
                height: 12px;
                fill: #0567cc;
            }
        }
    }
}
