.gocu-replays, .rating {
    box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    border-radius: 5px;

    .gocu-replays__title {
        border-radius: 5px 5px 0 0;
        background-color: #0567cc;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 19px;
        align-items: center;

        .title__icon {
            width: 20px;
            height: 20px;
            fill: #ffffff;
        }

        .title__text {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0; //отмена стандартного margin
            margin-left: 17px;
        }

        .title__game-period {
            margin-left: auto;
            margin-right: 20px;
            margin-bottom: 0;
            display: flex;


            select {
                height: 20px;
                background-color: transparent;
                border: 0;
                padding-right: 14px;

                color: #ffffff;
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;

                -webkit-appearance: none;
                background-image: url("/images/arrow-down-sign-to-navigate.png");
                background-repeat: no-repeat;
                background-position: center right 0px;
            }
        }
    }

    .gocu-replays__subtitle {
        background-color: #f0f4f8;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rating__info{
            font-size: 14px;
        }
        .block_right{
            display: flex;
            align-items: center;
            svg{
                width: 12px;
                height: 12px;
                fill: $gray;
                margin-right: 5px;
            }
            .subtitle__number{
                color: $blue;
                margin-left: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 45px;
            }
        }
        .gocu-replays__button{
            padding: 0;
            .button__download-more{
                width: 100%;
                height: 20px;
                display: flex;
                align-items: center;
            }
            button{
                width: 100%;
                padding: 5px;
            }
        }
        .subtitle__name {
            color: #8086a6;
            font-size: 16px;
            font-weight: 400;
            transition: .3s;
            margin-bottom: 0;
            text-decoration: none;
            max-width: 18vw;
            p{
                margin: 0;
                color: #8086a6;
                font-size: 16px;
                font-weight: 400;
                transition: .3s;
                margin-bottom: 0;
                text-decoration: none;
                max-width: 18vw;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:hover {
                color: #0567cc;
            }
            div{
                width: 90px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .subtitle__date {
            color: #9ca0b6;
            font-size: 12px;
            font-weight: 400;
            margin-bottom: 0;
        }
    }

    .gocu-replays__match {
           padding:0 20px ;
        .match__author {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;

            .subtitle__info {
                img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                }
                .comment-author__nickname {
                    color: #0567cc;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 0; //отмена стандартного margin
                    margin-left: 13px;

                }

                .comment-author__replay-item {
                    color: #9ca0b6;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 30px;
                    margin-bottom: 0; //отмена стандартного margin
                    margin-left: 12px;
                }

                .comment-author__date {
                    color: #9ca0b6;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 19px;
                    margin-bottom: 0; //отмена стандартного margin
                    margin-left: auto;
                }
            }

            .subtitle__icons {
                svg {
                    width: 21px;
                    height: 21px;
                    fill: #9ca0b6;
                    transition: .3s;
                }
                .items__comment,
                .items__download {
                    text-decoration: none;
                    svg {
                        width: 21px;
                        height: 21px;
                        fill: #9ca0b6;
                        transition: .3s;
                    }
                    span {
                        color: #9ca0b6;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 19px;
                        margin-left: 10px;
                    }
                    &:hover svg {
                        fill: #0567cc;
                    }
                }
                .items__download {
                    margin-left: 25px;
                }
            }
        }
        .subtitle__icons {
            svg {
                width: 21px;
                height: 21px;
                fill: #9ca0b6;
                transition: .3s;
            }
            .items__comment,
            .items__download {
                text-decoration: none;
                svg {
                    width: 21px;
                    height: 21px;
                    fill: #9ca0b6;
                    transition: .3s;
                }
                span {
                    color: #9ca0b6;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 19px;
                    margin-left: 10px;
                }
                &:hover svg {
                    fill: #0567cc;
                }
            }
            .items__download {
                margin-left: 25px;
            }
        }
        .match__comment {
            color: #010b4a;
            font-size: 16px;
            font-weight: 400;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 0; //отмена стандартного margin
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .match__info {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;

            .info__country {
                .country-first {
                    margin-left: 6px;
                }
                img{
                    width: 22px;
                    border-radius: 50%;
                }
            }

            .info__match-up {
                .match-up__versus {
                    margin-left: 5px;
                    margin-right: 5px;
                }

                .match-up__name {
                    color: #010b4a;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19px;
                    text-transform: uppercase;
                }

                .name__first {
                    margin-left: 14px;
                }
            }

            .info__maps {
                .maps__name {
                    color: #0567cc;
                    font-size: 14px;
                    font-weight: 400;
                    margin-left: 12px;
                }
            }

            .info__wins {
                svg {
                    width: 25px;
                    height: 25px;
                    fill: #0567cc;
                }

                .wins__text {
                    margin-left: 10px;
                }
            }

            .country__text,
            .match-up__text,
            .maps__text,
            .wins__text {
                color: #9ca0b6;
                font-size: 12px;
                font-weight: 300;
                line-height: 30px;
            }
        }
    }
    .gocu-replays__match_rating{
        padding: 15px;
    }
    hr {
        margin-top: 0;
        margin-bottom: 0;
    }

}


.gocu-replays__numb-pages {
    text-align: right; //выравнивает по левому краю
    margin-top: 25px;
    margin-bottom: 8px;

    .numb-pages {
        color: #9ca0b6;
        font-size: 12px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 0; //отменяет стандартный margin
    }
}

.gocu-replays__button {
    text-align: center; //выравнивает кнопку по центру
    border-radius: 5px;
    padding: 20px;
}
