#authorizationModal {
    .modal-header {
        .modal-title {
            margin: 0 auto;
            color: dodgerblue;
        }
        .modal-header__close {
            position: absolute;
            right: -9px;
            top: -9px;
            width: 40px;
            height: 40px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            border-radius: 50%;
            background-color: dodgerblue;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 13px;
                height: 13px;
                fill: #ffffff;
                transition: 0.3s;
            }
            &:hover svg{
                fill: #0b0b0b;
            }
        }
    }
    .modal-body {
        .modal-body__title {
            text-align: center;
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 0;
            .remember{
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
            }
            input {
                margin-bottom: 15px;
            }
            .is-invalid{
                background-image: none;
            }

        }
        .modal-body__enter-btn {
            margin-bottom: 30px;
            .button {
                width: 100%;
            }
        }
        .modal-body__forgot-password {
            text-align: center;
            text-decoration: none;
            color: darkgray;
            margin-bottom: 15px;
            display: block;
        }
        .modal-body__restore-password {
            text-align: center;
            text-decoration: none;
            color: darkgray;
            margin-bottom: 15px;
            display: block;
        }
    }
}

