.messenger {
    box-shadow: 1px 6px 10px rgba(0, 2, 76, 0.13);
    border-radius: 5px;
    background-color: #ffffff;

    .my-chat__body {
        .body__user {
            .user__avatar {
                .avatar__image {

                }
            }
            .user__info {
                .info__nickname {

                }
                .info__date {
                    
                }
            }
        }
    }

}
