.my-post {
    box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    border-radius: 5px;
    margin-bottom: 20px;
    .my-post__title {
        border-radius: 5px 5px 0 0;
        background-color: #0567cc;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 19px;
        align-items: center;

        .title__icon {
            width: 20px;
            height: 20px;
            fill: #ffffff;
        }

        .title__text {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0; //отмена стандартного margin
            margin-left: 17px;
        }

    }

    .my-post__accordion {
        .accordion-button {
            background-color: #f0f4f8;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }
        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .accordion-button:hover {
            background-color: #efefef;
        }

        .accordion-button:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2212";
        }

        /* Style the accordion panel. Note: hidden by default */
        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            margin-bottom: 1px;
            .panel__wrap {
                .panel__header {
                    display: flex;
                    margin-top: 15px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #f1f1f3;
                    .header__items {
                        display: flex;
                        align-items: center;
                        margin-left: auto;

                        .items__icon {
                            width: 15px;
                            height: 13px;
                            fill: #9ca0b6;
                            margin-right: 5px;
                        }
                        .items__info {
                            margin-left: 10px;
                            margin-bottom: 0;
                            color: #9ca0b6;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 19px;
                        }
                        .items__info.info {
                            color: #0567cc;
                        }
                    }
                }
                .panel__body {

                    margin-bottom: 15px;
                    border-bottom: 1px solid #cccccc;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    .body__numb {
                        font-size: 14px;
                        color: #0567cc;
                        font-weight: 400;
                        text-decoration: none;
                    }
                    .body__nick {
                        color: #9ca0b6;
                        font-size: 14px;
                        font-weight: 400;
                        margin-left: 10px;
                        text-decoration: underline;
                    }
                    .body__text {
                        color: #010b4a;
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 0;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
