.replays {
    box-shadow: 1px 6px 10px rgba(0, 2, 76, 0.13);
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 34px;

    .replays__title {
        border-radius: 5px 5px 0 0;
        background-color: #0567cc;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 19px;

        .title__icon {
            width: 20px;
            height: 20px;
            fill: #ffffff;
        }

        .title__text {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0; //отмена стандартного margin
            margin-left: 17px;
        }
    }

    .replays__accordion {
        transition: .3s;

        .accordion__topic {
            border-radius: 1px;
            border: 0px; //отмена бутстраповской рамки
            .topic__header {
                background-color: #f0f4f8;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 0px; //отмена бутстраповской рамки
                .header__title {
                    color: #7880a1;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    text-decoration: none;
                    transition: .3s;
                    &:hover {
                        color: #0567cc;
                    }
                }

                p.header__title {
                    &:hover {
                        color: #7880a1;
                    }
                }

                .fa-ellipsis-h {
                    color: #a9afc4;
                    font-size: 16px;
                    transition: .3s;
                }
            }

            .topic__body {
                .card-body {
                    padding-bottom: 0; //обнулил бутстраповский отступ снизу
                    .subtopic__topic {
                        box-shadow: 1px 6px 10px rgba(0, 2, 76, 0.13);
                        border-radius: 5px;
                        background-color: #ffffff;
                        margin-bottom: 34px;
                        border: 0;
                        .subtopic__header {
                            background-color: #f0f4f8;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 0px; //отмена бутстраповской рамки
                            .header__title {
                                color: #7880a1;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 28px;
                                text-transform: uppercase;
                                margin-bottom: 0;
                                text-decoration: none;
                                transition: .3s;

                                &:hover {
                                    color: #0567cc;
                                }

                                &:hover svg {
                                    fill: #0567cc;
                                }
                            }

                            .fa-ellipsis-h {
                                color: #a9afc4;
                                font-size: 16px;
                                transition: .3s;
                            }
                        }
                        .subtopic__wrap {
                            display: flex;
                            justify-content: space-between;
                            align-items: start;
                            margin-bottom: 25px;

                            .body__title {
                                color: #141d53;
                                font-size: 14px;
                                font-weight: 500;
                                text-decoration: none;
                                width: 90%;
                            }

                            .body__numb {
                                color: #0567cc;
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                    }
                    .body__wrap {
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        margin-bottom: 25px;

                        .body__title {
                            color: #141d53;
                            font-size: 14px;
                            font-weight: 500;
                            text-decoration: none;
                            width: 90%;
                        }

                        .body__numb {
                            color: #0567cc;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
            }

            &:hover {
                box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
            }
        }
    }
}
