.gallery-download {
    box-shadow: 1px 6px 10px rgba(0, 2, 76, 0.13);
    border-radius: 5px;
    background-color: #ffffff;
    .input_gallery{
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
    .gallery-download__title {
        border-radius: 5px 5px 0 0;
        background-color: #0567cc;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 19px;

        .title__icon {
            width: 20px;
            height: 20px;
            fill: #ffffff;
        }

        .title__text {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0; //отмена стандартного margin
            margin-left: 17px;
        }
    }
    .gallery-download__body {
        padding: 25px;
        .gallery__form {
            .form-group {
                label {
                    width: 100%;
                }
            }
            .form-check {
                margin-bottom: 20px;
            }
            .modal-body__add-btn {
                .button {
                    width: 100%;
                }
            }
        }
    }
}
