.user-reputation-history {
    box-shadow: 0 6px 10px rgba(0, 2, 76, 0.13);
    border-radius: 5px;

    .user-reputation-history__title {
        border-radius: 5px 5px 0 0;
        background-color: #0567cc;
        display: flex;
        padding: 20px 19px;

        .title__icon {
            width: 21px;
            height: 21px;
            fill: #ffffff;
        }

        .title__text {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0; //отмена стандартного margin
            margin-left: 17px;
        }

        .title__reputation {
            margin-left: auto;
            display: flex;
            .icon__like {
                text-decoration: none;
                svg {
                    width: 20px;
                    height: 18px;
                    fill: #fff;
                    transition: .3s;
                }

                span {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 19px;
                    margin-left: 7px;
                }
            }
            .icon__dislike {
                text-decoration: none;
                margin-left: 17px;
                svg {
                    width: 20px;
                    height: 18px;
                    fill: #fff;
                    transition: .3s;
                }

                span {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 19px;
                    margin-left: 7px;
                }
            }
        }
    }
    .user-reputation-history__body {
        .body__wrap {
            .body__info {
                display: flex;
                align-items: center;
                background-color: #f0f4f8;
                padding: 16px 20px 17px;

                .info__nickname {
                    color: #0567cc;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 0; //отмена стандартного отступа
                }

                .info__flag {
                    width: 20px;
                    height: 20px;
                    margin-left: 13px;
                }

                .info__cube {
                    width: 16px;
                    height: 16px;
                    margin-left: 11px;
                }

                .info__text {
                    color: #010b4a;
                    font-size: 14px;
                    font-weight: 500;
                    margin-left: 12px;
                    margin-bottom: 0; //отмена стандартного отступа
                }

                .info__date {
                    color: #9ca0b6;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 19px;
                    margin-left: auto;
                }
            }
            .body__content {
                display: flex;
                justify-content: space-between;
                padding: 16px 20px 17px;
                .content__title {
                    color: #010b4a;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    margin-bottom: 0; //отмена стандартного отступа
                }
                .content__like {
                    text-decoration: none;

                    svg {
                        width: 20px;
                        height: 18px;
                        fill: #0567cc;
                        transition: .3s;
                    }
                }
            }
        }
    }
}
