.gallery-detail {
    box-shadow: 1px 6px 10px rgba(0, 2, 76, 0.13);
    border-radius: 5px;
    background-color: #ffffff;

    .gallery-detail__title {
        border-radius: 5px 5px 0 0;
        background-color: #0567cc;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 19px;

        .title__icon {
            width: 20px;
            height: 20px;
            fill: #ffffff;
        }

        .title__text {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0; //отмена стандартного margin
            margin-left: 17px;
        }
    }

    .gallery-detail__body {
        padding: 25px;
        .body__items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            .items__title {
                max-width: 30%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                p {
                    color: #010b4a;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    margin-bottom: 0;
                }
            }

            .items__rating {
                .rating__like {
                    text-decoration: none;

                    svg {
                        width: 20px;
                        height: 18px;
                        fill: #c7c9d7;
                        transition: .3s;
                    }

                    span {
                        color: #9ca0b6;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 19px;
                        margin-left: 7px;
                    }

                    &:hover {
                        & svg {
                            fill: #0567cc;
                        }
                    }
                }

                .rating__dislike {
                    text-decoration: none;
                    margin-left: 10px;
                    svg {
                        width: 20px;
                        height: 18px;
                        fill: #c7c9d7;
                        transition: .3s;
                    }

                    span {
                        color: #9ca0b6;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 19px;
                        margin-left: 7px;
                    }

                    &:hover {
                        & svg {
                            fill: #0567cc;
                        }
                    }
                }
            }

            .items__reputation-button {
                a {
                    text-decoration: none;
                    background: #0567cc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    color: #fff;
                    border-radius: 4px;
                    width: 150px;
                    padding: 5px 10px;
                    font-size: 16px;
                }
            }

            .items__slide-button {
                display: flex;
                a {
                    text-decoration: none;
                    background-color: #fff;
                    display: flex;
                    height: 30px;
                    width: 30px;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #0567cc;
                    border-radius: 3px;
                    margin-left: 10px;

                    i {
                        color: #0567cc;
                        font-size: 18px;
                    }
                }
            }
        }
        .body__img {
            margin-bottom: 15px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .body__edit-image-form {
            .form-group {
                label {
                    width: 100%;
                }
            }
            .form-check {
                margin-bottom: 20px;
            }
            .modal-body__add-btn {
                .button {
                    width: 100%;
                }
            }
        }

    }
}
